Repository nebari-dev/nebari-docs, pull requests merged in 2023-07, with the labels that each got.

#343 Update community calendar link
  docs/docs/community/index.mdx
Labels: type: maintenance 🛠, area: community 🪴, status: in review 👀

#341 Add CDS Dashboards Deprecation warning
  docs/docs/tutorials/creating-cds-dashboard.md
Labels: type: deprecation ⚰️, area: integration/dashboards, status: in review 👀

#335 Docs for Jupyter Scheduler integration
  docs/docs/tutorials/run-notebooks-as-a-job.md
  docs/sidebars.js
  docs/static/img/tutorials/jupyter-scheduler-argo-cron-workflow.png
  docs/static/img/tutorials/jupyter-scheduler-argo-ui.png
  docs/static/img/tutorials/jupyter-scheduler-icon.png
  docs/static/img/tutorials/jupyter-scheduler-job-def-details.png
  docs/static/img/tutorials/jupyter-scheduler-job-definition.png
  docs/static/img/tutorials/jupyter-scheduler-job-details.png
  docs/static/img/tutorials/jupyter-scheduler-job-failed.png
  docs/static/img/tutorials/jupyter-scheduler-job-status.png
  docs/static/img/tutorials/jupyter-scheduler-run-now.png
Labels: area: integration/Jupyterlab, content: doc/tutorial, status: approved 💪🏾
